################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PwnedPasswordValidator/.vs
/PwnedPasswordValidator/PwnedPasswordValidator/obj
/PwnedPasswordValidator/PwnedPasswordValidator/bin
